<link rel="stylesheet" href="../../public/css/style.css" />
<div class="logout">
    <a href="/logout">Logout</a>
</div>
<div class="container">
    <header class="text-center text-light my-4">
        <h1 class="mb-4">Todo List</h1>

        <form class="add text-center my-4 search" action="">
            <input class="form-control m-auto" type="text" name="add" placeholder="Create / Search todo ..." />
            <br />
            <div class="text-center">
                <input type="submit" class="btn btn-light" style="display:none" />
            </div>
        </form>
    </header>

    <ul class="list-group todos mx-auto text-light delete">
        {{#each showData}}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" {{#if this.completed}}checked{{/if}}>
            </div>
            {{#if this.completed}}
            <span class="todo-title completed">{{this.title}}</span>
            {{else}}
            <span class="todo-title">{{this.title}}</span>
            {{/if}}
            <span class="hidden-id">{{this._id}}</span>
            <i class="far fa-trash-alt delete"></i>
        </li>
        {{/each}}
    </ul>

</div>